#navbar{
    background-color: #004784 !important;
}

.profile-pic{
    border: 4px groove black;
    border-radius: 50%;
    height: 190px;
    width: 200px;
  
}

.image-row img{
    height: 20px;
    color: black;
}

.item-card{
    max-width: 290px;
    min-height: 90%;
    margin: 30px;
}

.card-img{
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }