#navbar{
    background-color: #004784 !important;
}

.profile-pic{
    border: 4px groove black;
    border-radius: 50%;
    height: 158px;
  
}

.image-row img{
    height: 20px;
    color: black;
}

.item-card{
    max-width: 290px;
    min-height: 90%;
    margin: 30px;
}

.card-img{
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}